<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<div id="mapid"></div>

<style>
#mapid { height: 400px; }
</style>

<script>

	var mymap = L.map('mapid').setView([51.505, -0.09], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

  var bounds = new L.LatLngBounds(<%= @trip.stops.map{ |s| [s.latitude, s.longitude] }.to_json %>);
  mymap.fitBounds(bounds);

  <% @trip.stops.each do |stop| %>
    var marker = L.marker([<%= stop.latitude %>, <%= stop.longitude %>])
      .on('click', function() {
        window.location = "<%= stop_path(stop) %>"
      })
      .addTo(mymap);
  <% end %>
</script>

<p><strong>Stops</strong></p>
<% @trip.stops.each do |stop| %>
  <div>
    <%= link_to stop do %>
      <%= stop.latitude %>, <%= stop.longitude %>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to "Add stop", new_stop_path(trip_id: @trip.id) %> |
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
