<h1><%= @trip.name %></h1>
<%= link_to 'Edit', edit_trip_path(@trip) %>

<div class="row">
  <div class="col-md-10">
    <div class="card card-block">
      <%= content_tag :div, nil,
        id: "trip_map",
        data: { stops: @stops.to_json }
      %>
    </div>
  </div>

  <div class="col-md-2">
    <p><strong>Stops</strong></p>
    <% @trip.stops.each do |stop| %>
      <div>
        <%= link_to stop.display_name, trip_stop_path(@trip, stop) %>
      </div>
    <% end %>

    <br />

    <%= link_to "Add stop", new_trip_stop_path(trip_id: @trip.id), class: "btn btn-outline-primary" %>
  </div>
</div>
