<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= link_to @stop.trip.name, @stop.trip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @stop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @stop.longitude %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Delete', stop_path(@stop), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', stops_path %>
