<p>
  <strong>Trip:</strong>
  <%= link_to @stop.trip.name, @stop.trip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stop.name || "Not set" %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @stop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @stop.longitude %>
</p>

<%= link_to 'Edit', edit_trip_stop_path(@trip, @stop) %> |
<%= link_to 'Delete', trip_stop_path(@trip, @stop), method: :delete, data: { confirm: "Are you sure?" } %>
