<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cactus</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
                           integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
                           crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
           integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
           crossorigin=""></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    UpUp.start({
      'content-url': 'offline.html',
      'assets': ["<%= asset_path('application.js') %>", "<%= asset_path('application.css') %>", "/trips.json"]
    });
    </script>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/notices" %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
